%h3.year
  2012

%ul
  %li
    %strong 💀 Total muertes en siniestros de tránsito:
    = data.total
  %li
    %strong 🚲 Accidentes que involucraron bicicleta:
    #{data.bikes} (#{data.bikes * 100 / data.total}% del total)
  %li
    %strong Caídas
    #{data.falls} (#{data.falls * 100 / data.bikes}% del total de accidentes en bicicleta)

    <a role="button" data-toggle="collapse" href="#2012" aria-expanded="true" aria-controls="">
    <button type="button" class="btn btn-default btn-lg btn-block">Datos completos</button>
</a>

%table.table.table-bordered.table-striped.table-hover.table-condensed.collapse#2012
  %thead
    -(0..9).each do |i|
      %th= data.accidents[0][i]
    - data.accidents.delete_at(0)
  %tbody
    - data.accidents.each do |accident|
      %tr{ (accident[3] == "BICICLETA" || accident[8] == "BICICLETA") ? {class: "info"} : {}}
        -(0..9).each do |i|
          %td= accident[i]
