%h3.year
  = year
%table.table.table-striped.data
  %tbody
    %tr
      %td
        %strong 💀 Total muertes en siniestros de tránsito:
      %td
        %span{id: "#{year}total"}
          = data.total
    %tr
      %td
        %strong 🚲 Accidentes que involucraron bicicleta:
      %td
        %span{id: "#{year}bikes"}
          #{data.bikes} (#{data.bikes * 100 / data.total}% del total)
    %tr
      %td
        %strong Caídas
      %td
        #{data.falls} (#{data.falls * 100 / data.bikes}% del total de accidentes en bicicleta)
    %tr
      %td{colspan: 2}
        %a{"role" => "button",
           "data-toggle" => "collapse",
           href: "#" + year.to_s,
           "aria-expanded" => "true"}
          <button type="button" class="btn btn-default btn-lg btn-block">Datos completos</button>

%table{class: "table table-striped table-condensed collapse", id: year}
  %thead
    -(0..11).each do |i|
      %th= data.accidents[0][i]
    - data.accidents.delete_at(0)
  %tbody
    - data.accidents.each do |accident|
      %tr{ (accident[5] == "BICICLETA" || accident[10] == "BICICLETA") ? {class: "info"} : {}}
        -(0..11).each do |i|
          %td= accident[i]
