%h3.title.year
  = year
%table.table.is-stripped.is-fullwidth
  %tbody.is-size-5
    %tr
      %td
        %strong 💀 Total muertes en siniestros de tránsito:
      %td
        %span{id: "#{year}total"}
          = data.total
    %tr
      %td
        %strong 🚲 Accidentes que involucraron bicicleta:
      %td
        %span{id: "#{year}bikes"}
          #{data.bikes} (#{sprintf('%.2f', data.bikes.to_f * 100.0 / data.total.to_f)}% del total)
    %tr
      %td
        %strong Caídas
      %td
        #{data.falls} (#{sprintf('%.2f', data.falls.to_f * 100 / data.bikes.to_f)}% del total de accidentes en bicicleta)
    %tr
      %td{colspan: 2}
        %a{"role" => "button",
           href: "#" + year.to_s,
           id: "btn_#{year.to_s}",
           "aria-expanded" => "true"}
          <button type="button" class="button is-fullwidth is-large has-text-weight-bold">Datos completos +</button>

.table-container.hidden{id: "table_#{year}"}
  %table{class: "table is-striped hiddable_content"}
    %thead
      -(0..11).each do |i|
        %th= data.accidents[0][i]
      - data.accidents.delete_at(0)
    %tbody
      - data.accidents.each do |accident|
        %tr{ (accident[5] == "BICICLETA" || accident[10] == "BICICLETA") ? {class: "is-selected"} : {}}
          -(0..11).each do |i|
            %td= accident[i]
